<section class="tb-section-1">

    <div class="container col-lg-6 col-lg-offset-3">
        
        <h1 class="text-center">Map</h1>
        
        <form class="form-horizontal">
            <div class="form-group">
                <label for="addressFrom" class="control-label">From</label>
                <input type="text" class="form-control" id="addressFrom" placeholder="Address 1">
            </div>
            <div class="form-group">
                <label for="addressTo" class="control-label">To</label>
                <input type="text" class="form-control" id="addressTo" placeholder="Address 2">
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                    <input id="heatMap" type="checkbox"> Heat Map
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button id="getMap" type="submit" class="btn btn-primary btn-lg center-block">Take me there!</button>
            </div>
        </form>

        <div id="resultMap"></div>

    </div>

</section>